/* contact page css  */

.contact {
  background: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0) 17%),
    linear-gradient(to top, #dbe8f7, rgba(211, 170, 170, 0) 17%),
    linear-gradient(
      to bottom,
      rgba(215, 243, 255, 0.93),
      rgba(206, 232, 255, 0.36)
    ),
    url(https://assets-global.website-files.com/6530f97cd208670620175967/653a4c2c77c28e945e6a6bbf_Grid%20BG.svg);
  background-size: auto, auto, auto;
}

.footer-section {
  padding-top: 2rem;
  background: linear-gradient(to bottom, hsl(209, 95%, 94%), rgba(255, 255, 255, 0) 17%),
    linear-gradient(to top, #c3dfff, rgba(211, 170, 170, 0) 17%),
    linear-gradient(
      to bottom,
      rgba(215, 243, 255, 0.93),
      rgba(206, 232, 255, 0.36)
    ),
    url(https://assets-global.website-files.com/6530f97cd208670620175967/653a4c2c77c28e945e6a6bbf_Grid%20BG.svg);
  background-size: auto, auto, auto;
}

.text-group {
  display: flex;
  place-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.text-group p {
  max-width: 43rem;
  font-size: 1.06rem;
}
.text-group h1 {
  font-weight: 600;
}

.accordion-item {
  border: 1px solid #b4b6b8;
  border-radius: 4px;
}
.accordion-item:hover {
  border: 1px solid #0c63e4;
  border-radius: 4px;
  transition: all 0.4s;
}
.accordion-body {
  background: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0) 17%),
    linear-gradient(#feffff, rgba(211, 170, 170, 0) 17%),
    linear-gradient(rgba(255, 255, 255, 0.93), rgba(206, 232, 255, 0.36)),
    url(https://assets-global.website-files.com/6530f97cd208670620175967/653a4c2c77c28e945e6a6bbf_Grid%20BG.svg);
  background-size: auto, auto, auto;
}

.contact-text {
  margin-top: 4rem;
}

.contact-text h1 {
  font-size: 4rem;
}

.contact-text p {
  font-size: 1.2rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact-form input {
  background: transparent;
  padding-left: 10px;
  color: black !important;
  height: 7vh;
  border: 2px solid rgb(170, 170, 176);
  border-radius: 2px;
  /* width: 22rem; */
  width: 100%;
}

.contact-form input:hover {
  border: 2px solid rgb(0, 153, 255);
  border-radius: 2px;
}

.contact-btn {
  font-size: 1.1rem;
  width: 10rem;
}

.contact-btn:hover {
  color: #041f31;
  background: transparent;
  border: 2px solid #041f31;
  transition: all 0.25s;
}

.contact-img {
  width: 100%;
  /* margin-left: 10rem; */
  border: 1px solid rgb(170, 170, 176);
  border-radius: 6px;
}

.qa-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 45rem;
  padding-top: 10rem;
}

.qa-text h1 {
  font-weight: bolder;
  font-size: 3rem;
}

.second-accord,
.accordion {
  width: 38.5rem;
}

.contact-below {
  padding-top: 6rem;
}

.card-body-con {
  border: 1px solid #b6b6b6;
  padding: 1rem;
  background: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0) 17%),
    linear-gradient(#feffff, rgba(211, 170, 170, 0) 17%),
    linear-gradient(rgba(255, 255, 255, 0.93), rgba(206, 232, 255, 0.36)),
    url(https://assets-global.website-files.com/6530f97cd208670620175967/653a4c2c77c28e945e6a6bbf_Grid%20BG.svg);
  background-size: auto, auto, auto;
}

/* services page css  */

.service {
  padding-top: 1rem;
}

.service > .container {
  position: relative;
  width: 20%; /* Adjust as necessary */
  aspect-ratio: 1/1;
  z-index: 1; /* Ensure the container is above the particles */
}

.worm-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
  filter: opacity(0.2);
  border: 2px solid transparent;
  border-radius: 50%;
  z-index: -9999;
}

.service-heading {
  z-index: 9999; /* Ensure the heading appears above the particles and image */
}
