* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style: none;
  scroll-behavior: smooth;
  cursor: none !important;
}

*:hover{
  cursor:none;
}


.col{
  padding-left: 0 !important;
}


.custom-cursor {
  position: fixed;
  border: 2px solid #4e71ff;
  border-radius: 50%;
  pointer-events: none; 
  transform: translate(-50%, -50%); 
  width: 20px;
  height: 20px;
  z-index: 9999;
}

.custom-cursor.hover-effect {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-color: rgb(45, 136, 255);
}

.custom-cursor.hover-effect::before,
.custom-cursor.hover-effect::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;

}

.custom-cursor.hover-effect::before {
  width: 10px;
  height: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  animation: ripple 1s infinite;
}


body {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;

  font-family: Gabarito, sans-serif;
  background-image: linear-gradient(to right, #bbd1ff, #fafcff);
}

/*================== navbar and footer section ====================== */
.navbar {
  background-color: white;
}

.nav-item {
  color: #041f31;
  font-size: 1.05rem;
  font-weight: 600;
}

.nav-item:hover {
  color: #000;
  font-size: 1.1rem;
  font-weight: 900;
  transition: all 0.25 ease-in-out;
}

.btn {
  background-color: #041f31;
  border: 1px solid #000;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 400;
}

.btn:hover {
  
  background-color: #000000;
  color: white;
  border: 2px solid rgb(112, 112, 112) !important;
  transition: all 0.25s ease-in-out;
}

.btn-second {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  width: 350px;
  font-size: large;
  color: #fffffe;
  background-color: rgb(0, 204, 255, 0.9);
  border: solid 2px rgb(0, 204, 255, 0.9);
}
.btn-second:hover {
  color: #ffffff;
  border: solid 2px rgba(0, 119, 255, 0.9) !important;
  background-color: rgba(0, 119, 255, 0.9);
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom right;
  transition: all 0.25s ease-in-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #000;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.logo-text {
  color: #041f31;
  font-size: 1.3rem;
  font-weight: bold;
}

.logo-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-link {
  padding-left: 0;
}

.footer-active {
  padding-top: 1rem;
  font-size: 1.2rem;
  max-width: 22%;
  display: flex;
  position: relative;
}

.footer-active:hover {
  /* cursor: pointer; */
  font-size: 1.2rem;
  transform: scale(1.1);
  transition: all 0.25s ease-in-out;
}

/*============== home page header section ================ */

.header-section {
  margin-top: 5rem !important;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub-header {
  color: #1a4664;
  font-weight: lighter !important;
  font-size: 1.2rem;
  margin-top: 10px !important;
  width: 100%;
  max-width: 670px;
}

.header-section h1 {
  opacity: 0.94;
  color: rgba(0, 0, 0, 0);
  -webkit-text-fill-color: transparent;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(171deg, #041f3a 64%, rgba(4, 31, 58, 0.68));
  -webkit-background-clip: text;
  background-clip: text;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 3.5rem;
  font-weight: 900;
}

.header2-section {
  margin-top: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body1 {
  padding: 2rem;
  color: white;
  height: auto;
  background-color: #04001f;
  background-image: linear-gradient(185deg, #07003a, #000),
    radial-gradient(circle closest-side at 40% 30%, #07003a, #000);
  border-radius: 10px;
}

.card-top-heading {
  padding-top: 4rem !important;
  font-size: larger;
  color: #a9a9a9;
}

.card-text-heading {
  font-weight: bolder;
  font-size: 2.6rem !important;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(117deg, #2dc688, #4b78fe);
  -webkit-background-clip: text;
  background-clip: text;
}

.card-text-p {
  width: 100%;
  max-width: 470px;
  font-size: 1.2rem;
  color: #878a89;
}

.img-1 {
  margin-left: 8rem;
  margin-top: 4rem;
  width: 50% !important;
}
.img-2 {
  margin-left: 2rem;
  /* margin-top: -0px; */
  width: 50% !important;
}
.img-3 {
  margin-top: -15rem;
  margin-left: 18rem;
  display: flex;
  width: 50% !important;
}

.pricing {
  margin-top: 12rem;
}

.pricing-heading {
  -webkit-text-fill-color: transparent !important;
  background-image: linear-gradient(
    173deg,
    #041f3a 65%,
    rgba(121, 121, 121, 0.02)
  ) !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  font-size: 3rem;
}

.header3 {
  margin-top: 10rem;
}

.heading-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.sub-heading-text {
  width: 100%;
  max-width: 630px;
}

.pricing-sub {
  font-size: 1.2rem;
  margin-top: 20px;
  color: #2a668e;
}

.card-header-content h1 {
  font-size: 1.9rem;
  font-weight: bolder;
}

.card-group {
  border: none;
  border-radius: 10px;
  place-items: center;
  margin-top: 3rem;
  gap: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pricing-nav {
  padding-left: 0;
}

.pricing-nav li {
  font-weight: lighter !important;
  font-size: 1.2rem;
  line-height: 50px;
}

.check-icon {
  margin-right: 10px;
}

.pricing-header-logo {
  filter: drop-shadow(0px 0px 20px);
}

.btn-third {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background-color: #1634ff;
  font-size: larger;
  border: 2px solid #1634ff;
  margin-top: 4rem;
}

.btn-third:hover {
  filter: drop-shadow(0px 0px 5px rgb(0, 122, 252));
  color: rgb(255, 255, 255);
  background-color: #0011ff;
  border: 2px solid rgb(0, 122, 252) !important;
}

.card-body:hover {
  transform: scale(103%);
  filter: drop-shadow(0px 0px 10px rgb(0, 129, 209));
  transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 992px) {
  .card {
    width: calc(100% - 20px);
  }

  .btn-second {
    width: auto;
  }
}

.available-jobs{
  margin-top: 6rem;
}
.available-jobs h2{
  font-size: 2rem;
  font-weight: 100;
}

.career-sub-heading{
  display: flex;
  gap: 10px;
  align-items: center;
}


.career-cards{
  display: flex;
}


.seo-img-col, .seo-img-col2{
  background-color:  rgb(0,0,0);
  display: grid;
  place-items: center;
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgb(0, 0, 255) 0%, rgb(25, 28, 218) 0%, rgba(63,133,153,1) 100%);;
}

.seo-img-col img{
  border: 10px solid transparent;
  border-radius: 160px !important;
  width: 60%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}


.seo-img-col2 img{
  border: 10px solid transparent;
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}